<section class="above-the-fold">
  <div class="login-signup">
    <a routerLink="registration" class="primary-button">Login / Sign Up</a>
  </div>
  <div class="vertical-full-word">
    @for(letter of zensoWord.split(''); track letter) {
    <img src="assets/{{ letter }}.svg" />
    }
  </div>
  <div class="title-container">
    <h1>Your journey to a more mindful life starts here.</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum quos veniam
      ratione quae, nihil impedit a quo aliquid voluptatum nobis, facilis
      molestias reprehenderit eaque harum quia. Illo eveniet dignissimos itaque.
    </p>
  </div>
</section>
<section>
  <hr />
  <h2 class="section-title">What is Zenso</h2>
  <app-card-group>
    <app-card
      title="AI driven"
      content="  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto saepe soluta totam similique, quaerat dolorem officiis, itaque molestiae fugiat consectetur id consequatur magni! Voluptate quibusdam quaerat iure commodi optio eaque.
"
    ></app-card>
    <app-card
      title="Seek guidance"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque. Quisquam, voluptatum. Doloribus, cumque. Quisquam, voluptatum. Doloribus, cumque. Quisquam, voluptatum."
    ></app-card>
    <app-card
      title="Find your expert"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque. Quisquam, voluptatum. Doloribus, cumque. Quisquam, voluptatum. Doloribus, cumque. Quisquam, voluptatum."
    ></app-card>
  </app-card-group>
</section>
<section class="expert-section">
  <hr />
  <h2 class="section-title">Are you an expert?</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque.
    Quisquam, voluptatum. Doloribus, cumque. Quisquam, voluptatum. Doloribus,
    cumque. Quisquam, voluptatum.
  </p>
</section>
<section class="join-us">
  <button class="primary-button">Join now</button>
</section>
